body {
    background-image: url('../img/bg/globalBackground.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}   

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #7dd4f7;
    opacity: 0.8;
}

.menu-paciente{
    height: 100px; 
    width: 150px;
    
    
}
.menu-paciente-inicio{
    height: 200px; 
    width: 200px;
        
}

#medico {
    position:fixed;
    top:36%;
    left:15%;
    margin-top:-50px;
    margin-left:-50px;
}

#paciente {
    position:fixed;
    top:36%;
    left:45%;
    margin-top:-50px;
    margin-left:-50px;
}
       
#secretaria {
    position:fixed;
    top:36%;
    left:75%;
    margin-top:-50px;
    margin-left:-50px;
}

.card-menu-individual{
    border-radius: 40px;
    text-align: center;
    opacity: 0.8;
}

.lista-informacoes{
    border: none;
}